/*body{
	width:auto;
	height:auto;
	background-color: grey;
}*/


#samp1{
	width:100%;
	height:10%;
	background-color:rgb(36, 51, 66);
	border:solid 4px;
	border-color: black;
	/*position: fixed;*/
	top: 0px;
	left: 0px;
	right: 0px;
	display:block;	
}

#samp2{
	/*position:fixed;*/
	/*background-color: #34495E;*/
	/*border:solid 4px;*/
	/*border-color: rgb(0, 51, 102);*/
	margin-top:25px;
	left:0px;
	right:0px;
	display:block;
	width: 100%;
}
.studRecords{
	width:100%;
	height:auto;
	border-color: black;
	text-align:center;
	border: 1pt;
	border-color:black;
	outline-style: solid;
    border-style: solid;

}
th{
	padding-top:5px;
}
table, th, tr, td{
	border: 3px solid black;
	border-collapse: collapse;

}
body {
/*  padding: 0 2em;*/
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: grey;
}
.popup_button{
	background-color:black;
	font-size: 2em;
	position: absolute;
	right:0px;
	margin-top:2px;
	margin-right:10px;
	padding:0.5% 2% 0.5% 2%;
	border-radius:50%;
	border-color:grey;
	color:white;
}
.popup_button:hover{
	background-color: rgb(38, 38, 38);

}
.searchBar {
  border: none;
  width: 15%;
  padding: 10px;
  float: left;
  font-size: 16px;
  text-align: center;
  margin-left:1%;
  margin-top:10px;
  border-radius: 5px;
  
}
.addbtn{
	background-color:rgb(0, 153, 51);
	font-size:20px;
	border-color:black;
	color:white;
	padding:5px;
	width:100%;
	margin-bottom:8px;
	margin-top:10px;
 	border-radius: 8px;
}

.addbtn:hover{
	background-color: rgb(0, 179, 60);
}

.sendToServer{
	background-color:rgb(0, 128, 0);
	font-size:1em;
	border-color:black;
	color:white;
	padding:7px;
	width:15%;
	margin-bottom:8px;
	margin-top:8px;
	margin-left:4%;
 	border-radius: 8px;
	cursor:pointer;
}
.sendToServer:hover{
	background-color: rgb(0, 153, 0);
}
.createReport{
	background-color:rgb(0, 128, 0);
	font-size:1em;
	border-color:black;
	color:white;
	padding:7px;
	width:20%;
	margin-bottom:8px;
	margin-top:8px;
	margin-left:5%;
 	border-radius: 8px;	
	cursor:pointer;
}
.createReport:hover{
	background-color: rgb(0, 153, 0);

}
.modal{
	display:none;
	position:fixed;
	left:0;
	z-index:1;
	width:100%;
	height:100%;
	overflow:auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	border-style:solid;
	border-color:white;
}
.popup_container{
	background-color:rgb(128, 128, 128);
	width:50%;
	height: auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
	border-style:solid;
	border-color:black;
}
.content{
	padding: 16px;
	border-style:solid;
	border-color:grey;
	color:black;
}
.content input{
	width:100%;
	font-size:1.5em;
	margin-bottom:5px;
}

.popup_container_report{
	background-color:white;
	width:35%;
	height: auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
}

.popup_container_report_result{
	background-color:white;
	width:60%;
	height: auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
}



.closebtn {
	background-color:rgb(230, 0, 0);
	font-size:1em;
	border-color:black;
	color:white;
	padding:10px;
	width:100%;
     border-radius: 8px;
}
.closebtn:hover{
	background-color: rgb(250, 0, 0);
}
.createButtonReport{
	background-color:rgb(62, 142, 65);
	font-size:2em;
	border-color:black;
	color:white;
	padding:10px;
	width:100%;
	margin-bottom:5px;
	margin-top:10px;
	    border: 2px solid;
    border-radius: 15px;
    border-color:green	
    
}
.createButtonReport:hover{
	background-color:rgb(70, 160, 73) ;
}
.closeButtonReport {
	background-color:rgb(230, 0, 0);
	font-size:1em;
	border-color:black;
	color:white;
	padding:10px;
	width:100%;
	    border: 2px solid;
    border-radius: 15px;
    border-color:red
}
.closeButtonReport:hover{
	background-color: rgb(255, 26, 26);
}
.closeReportResult{
	background-color:red;
	font-size:1em;
	border-color:black;
	color:white;
	padding:10px;
	width:10%;
	 border: 2px solid;
    border-radius: 20px;

}
.remove{
	font-size:25px;

	background-color:green;
	color:white;]

}

.remove:hover{
	background-color:rgb(0, 230, 0);
}

.rwd-table tr:first-child th{
	text-align: center;
	background-color: rgb(36, 51, 66);
}

.rwd-table tr:nth-child(2n){
	background-color: rgb(63, 90, 115);
}


.rwd-table {
  margin: 1em 0;
  min-width: 300px;
  width:100%;
}
.rwd-table tr {
  border-top: 3px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}




.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #dd5;
}



